@reference "tailwindcss/theme";
@reference "tailwindcss/utilities";

.themeRoot {
  @apply contents;
}

.sidebar {
  @apply flex flex-col p-3 gap-2;

  color: var(--primer-fg-default);
}

.sidebarHeader {
  @apply flex items-center;
}

.contentHeader {
  @apply flex items-center p-2;

  background-color: var(--primer-canvas-subtle);
  border-bottom: 1px solid var(--primer-border-default);
}
