@reference "tailwindcss/theme";
@reference "tailwindcss/utilities";

.subtitle.subtitle {
  color: var(--primer-fg-muted);
}

.footer.footer {
  @apply text-center;

  color: var(--primer-fg-muted);
}

.footerLink {
  @apply cursor-pointer transition-colors duration-200 ease-in-out;

  color: var(--primer-accent-fg);

  &:hover {
    text-decoration: underline;
  }
}
