@import '@primer/primitives/dist/css/functional/themes/dark.css';
@import '@primer/primitives/dist/css/functional/themes/light.css';
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

:root {
  --layout-rail-width: 4.5rem;
  --layout-sidebar-width: 16.25rem;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
