@reference "tailwindcss/theme";
@reference "tailwindcss/utilities";

.createAccountText.createAccountText {
  @apply text-center;

  color: var(--primer-fg-muted);
}

.createAccountLink {
  @apply cursor-pointer transition-colors duration-200 ease-in-out;

  color: var(--primer-accent-fg);

  &:hover {
    text-decoration: underline;
  }
}
