@use '@/styles/breakpoints' as *;
@reference "tailwindcss/theme";
@reference "tailwindcss/utilities";

.root.root {
  @apply flex flex-col items-center justify-center gap-0.5;
  @apply py-1.5 px-3;
  @apply transition-all duration-200 ease-in-out;
  @apply border-0 cursor-pointer;

  color: var(--primer-fg-muted);
  background: none;
  box-shadow: none;
}

@include md {
  .root.root {
    @apply py-1 px-1;
  }
}

.root.root:hover,
.root.root:focus,
.root.root:active,
.root.root:visited {
  @apply no-underline;

  background: none;
  box-shadow: none;
}

.root.root:hover {
  color: var(--primer-fg-default);
}

.root.root:active {
  @apply scale-95;
}

.iconWrapper {
  @apply flex items-center justify-center rounded-lg p-1.5;
  @apply transition-all duration-200 ease-in-out;
}

.root.root:hover .iconWrapper:not(.iconActive, .iconFixed) {
  background-color: var(--primer-neutral-muted);
}

.iconActive {
  background-color: var(--primer-accent-emphasis);
}

.active:hover .iconActive {
  @apply opacity-85;
}

.iconFixed {
  background-color: var(--primer-neutral-muted);
}

.root.root:hover .iconFixed {
  @apply opacity-70;
}

.active.active {
  color: var(--primer-fg-on-emphasis);
}

.active.active:hover {
  color: var(--primer-fg-default);
}

.label {
  @apply leading-tight;

  font-size: var(--rail-label-font-size);
}

@include md {
  .label {
    @apply text-xs;
  }
}
